<% layout('layouts/boilerplate') %>

<script crossorigin="anonymous" src="https://cdn.maptiler.com/maptiler-sdk-js/v2.2.2/maptiler-sdk.umd.min.js"></script>
<link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.2.2/maptiler-sdk.css" rel="stylesheet" />

<script>
  const maptilerApikey = '<%-process.env.MAPTILER_API_KEY%>';
   const campground = { <%- JSON.stringify(campground) %>}
</script>

<div class="row">
  <div class="col-6 ">
    <div  id="map"  style="width: 400px; height: 300px;"></div>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
      <%  if(campground.images.length > 1){ %> 
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <% } %>
      <div class="carousel-inner mb-3 " >
        <% campground.images.forEach((img,i)=>{ %>
        <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
          <img crossorigin="anonymous" src="<%= img.url %>" class="d-block w-100" alt="">
          </div>
            <% }) %>

          </div>

      </div>
      
      <div class="card mb-3 ">
        <div class="card-body ">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= campground.location %></li>
          <li class="list-group-item ">Submitted by <%=campground.author.username %></li>
          <li class="list-group-item">R<%= campground.price %>/night</li>
        </ul>
        <% if (currentUser && campground.author.equals(currentUser._id)) {%>
          <div class="card-body">
              <a class="card-link  btn btn-info" href="/campgrounds/<%=campground._id %>/edit">Edit</a>
              <form class="d-inline"  action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
              </form>

              <% } %>
  
    </div>

       </div>

      
      </div>

      <div class="col-6">
        <% if(currentUser){ %>
          <h2>Leave a Review</h2>
          <form action="/campgrounds/<%=campground._id%>/reviews" class="mb-3" method="post">
             <div class="mb-3">
               <label for="rating">Rating</label>
               <input class="form-range" type="range" name="review[rating]" id="range" min="1" max="5">
             </div>
            <div class="mb-3">
             <label class="form-label" for="body">Review</label>
             <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>
          <% for(let review of campground.reviews) { %>
           <div class="card mb-3">
              <div class="card-body">
                 <h5 class="card-title">Rating: <%= review.rating %></h5>
                  <h6 class="card-subtitle mb-2 ">By<%=review.author.username%></h6>
                  <p class="card-text">Review:<%= review.body %></p>
                  <% if (currentUser && review.author.equals(currentUser._id)) {%>
                    <form action="/campgrounds/<%= campground._id%>/reviews/<%=review._id %>?_method=DELETE" method="post">
                     <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                    <% } %>
              </div>
      
      </div>
  
      <% } %>
        
    </div>

       
    </div>

    <script  src="/javascripts/showPageMap.js">
    </script>

     
    
    
    
    
    



 